* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, system-ui;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.actions-container {
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

/*  ------------ Page Actions - file, edit, view, etc. ----------- */
.page-actions-container {
  background-color: lightgreen;
  gap: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 0.25rem;
}

.page-action {
  cursor: pointer;
}

/*  ------------ Cell Actions - font, size, color, alignment ----------- */
.cells-actions-container {
  background-color: rgba(148, 186, 198, 0.42);
  gap: 1rem;
}

.cells-actions-container * {
  display: inline-block;
  margin: 0.25rem;
}

.cell-action {
  cursor: pointer;
  position: relative;
}

.font-select {
  padding: 0.25rem;
  outline: none;
  border-radius: 0.25rem;
  border: none;
}

/* .cell-action input[type="color"] { */
.color-picker {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

/*  ------------ Address Bar + Formula Bar ----------- */
.formula-bar-container {
  background-color: rgba(148, 186, 198, 0.42);
  display: flex;
  gap: 1rem;
}

.formula-bar-container * {
  display: inline-block;
}

.address-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  width: 5rem;
}

.formula-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
}

.formula-input {
  width: calc(100vw - 3rem - 5rem - 1rem - 1rem);
  max-width: 100%;
  padding: 0.25rem;
  outline: none;
  border-radius: 0.25rem;
  border: none;
}

/*  ------------ Sheets Container ----------- */
.sheets-container {
  background-color: rgba(148, 186, 198, 0.42);
  gap: 1rem;
}

.sheet-folder {
  display: flex;
  align-items: flex-end;
  height: 1.5rem;
  background-color: lightgray;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  font-weight: bold;
}

.sheet-folder.active {
  background-color: lightgreen;
}

/*  ------------ Grid Container - Cells ----------- */
.grid-container {
  height: calc(100vh - 3rem - 3rem - 3rem);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: scroll;
}

.cell-dummy {
  height: 2rem;
  width: 3rem;
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 1000;
  padding: 0.25rem;
}

.address-columns-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  left: 0;
  top: 2rem;
  z-index: 100;
  background-color: rgb(211, 211, 211);
}

.address-col {
  height: 2rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid lightslategray;
  padding: 0.25rem;
  background-color: rgba(211, 211, 211, 0.313);
}

.cells-container {
  position: absolute;
  top: 0;
  left: 3rem;
}

.row-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cell {
  height: 2rem;
  width: 5rem;
  display: inline-block;
  border: 1px solid lightgray;
  padding: 0.25rem;
}

.address-rows-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  left: 3rem;
  background-color: rgb(211, 211, 211);
}

.address-row {
  height: 2rem;
  min-width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid lightslategray;
  background-color: rgba(211, 211, 211, 0.313);
}
